@using TechJobs6Persistent.ViewModels
@model AddJobViewModel

<h1>Add Job</h1>

<form asp-controller="Job" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
        <div class="form-group">
            <label asp-for="EmployersId">Employers</label>
            <select asp-for="EmployersId" asp-items="Model.Employers">
            </select>
        </div>
    <input type="submit" value="Add Job" />
         <a asp-controller="Employer" asp-action="Create">Add New Employer</a>
</form>

